.wrap {
    max-width: 1000px;
    padding: 30px;
    margin: 10px auto;
    border-radius: 100px;
    background: rgb(0, 0, 0, 0.4);
}

.header_block {
    display: flex;
    align-items: center;
}

.header_photo img {
    max-width: 150px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
}

.header_column {
    margin-left: 3%;
    color: greenyellow;
}

.header_name {
    text-transform: uppercase;
    font-size: 40px;
}

.menu {
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.menu a {
    color: tomato;
    text-decoration: none;
}
.menu a:hover {
    color: deeppink;
    text-decoration: underline;
    transition: 0.5s;
}

section {
    border-bottom: 2px dotted yellowgreen;
}

body {
    font-family: "Andale Mono", sans-serif;
    font-size: 16px;
    color: greenyellow;
    background: url(images/carbon_fibre.png) repeat;
}

h2 {
    font-weight: bolder;
}

pre {
    white-space: pre-wrap;
}

code {
    font-family: Consolas, "courier new", serif;
    font-weight: bold;
    color: deeppink;
}

a {
    font-family: "Andale Mono", sans-serif;
    color: red;
}

a:hover {
    color: deeppink;
    transition: 0.5s;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.footer_rs {
    width: 150px;
}